# Contournement des conflits de peer deps pendant la transition Angular 22
# (les packages @ngrx et @angular-architects/ngrx-toolkit n'ont pas encore
#  publié de version stable compatible Angular 22 au 2026-08)
legacy-peer-deps=true

