<mat-card>
  <div class="header">
    <h2>
      <mat-icon>people</mat-icon>
      {{ 'ADMIN.USERS.TITLE' | translate }}
    </h2>
    <button color="primary" mat-flat-button routerLink="/admin/users/new">
      <mat-icon>person_add</mat-icon>
      {{ 'ADMIN.USERS.NEW_USER' | translate }}
    </button>
  </div>

  <div class="toolbar">
    <mat-form-field appearance="outline" class="search">
      <mat-label>{{ 'COMMON.SEARCH_BTN' | translate }}</mat-label>
      <input [formField]="searchForm.term" matInput/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <button [matMenuTriggerFor]="colsMenu" color="primary" mat-stroked-button>
      <mat-icon>view_column</mat-icon>
      {{ 'PATIENT_LIST.COLUMNS_BUTTON' | translate }}
    </button>
    <button
      (click)="clearAllColumnFilters()"
      [disabled]="!hasActiveFilters()"
      color="warn"
      mat-stroked-button
    >
      <mat-icon>filter_alt_off</mat-icon>
      {{ 'PATIENT_LIST.RESET_FILTERS_BUTTON' | translate }}
    </button>
    <mat-menu #colsMenu="matMenu">
      @for (c of allColumnsConfig; track c.key) {
        @if (c.key !== 'actions') {
          <button (click)="$event.stopPropagation()" mat-menu-item>
            <mat-checkbox
              (change)="toggleColumn(c.key, $event.checked)"
              [checked]="isColumnVisible(c.key)"
            >{{ c.label | translate }}
            </mat-checkbox>
          </button>
        }
      }
    </mat-menu>
  </div>

  <app-configurable-list
    (filtersChange)="onListFiltersChange($event)"
    [columns]="displayedColumnDefs()"
    [emptyLabelKey]="'ADMIN.USERS.EMPTY'"
    [rows]="rows()"
  />

  <ng-template #rolesCell let-row>
    <mat-chip-set>
      @for (r of row.roles; track r.ID) {
        <mat-chip>{{ r.NAME }}</mat-chip>
      }
    </mat-chip-set>
  </ng-template>

  <ng-template #centersCell let-row>
    <mat-chip-set>
      @for (c of row.centers; track c.ID) {
        <mat-chip>{{ c.NAME }}</mat-chip>
      }
    </mat-chip-set>
  </ng-template>

  <ng-template #activeCell let-row>
    <mat-icon [class.active-false]="!row.ACTIVE" [class.active-true]="row.ACTIVE">
      {{ row.ACTIVE ? 'check_circle' : 'cancel' }}
    </mat-icon>
  </ng-template>

  <ng-template #actionsCell let-row>
    <button [routerLink]="['/admin/users', row.ID, 'edit']" color="primary" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteUser(row)" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <mat-paginator
    (page)="onPageChange($event)"
    [length]="total()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="[5, 10, 20, 50]"
    [pageSize]="pageSize()"
  ></mat-paginator>
</mat-card>

