<mat-card class="list-card">
  <mat-card-header>
    <div class="header-copy">
      <mat-card-title>{{ 'PATIENT_LIST.TITLE' | translate }}</mat-card-title>
      <mat-card-subtitle>{{
          'PATIENT_LIST.TOTAL' | translate: {count: total()}
        }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="list-toolbar">
      <div class="toolbar-group">
        <button
          (click)="clearAllColumnFilters()"
          [disabled]="!hasActiveFilters()"
          color="warn"
          mat-stroked-button
        >
          @if (loading()) {
            <mat-progress-spinner
              class="btn-loader"
              diameter="16"
              mode="indeterminate"
              strokeWidth="2"
            />
          } @else {
            <mat-icon>filter_alt_off</mat-icon>
          }
          {{ 'PATIENT_LIST.RESET_FILTERS_BUTTON' | translate }}
        </button>

        <button
          (click)="exportListExcel()"
          [disabled]="exportingList()"
          [matTooltip]="'PATIENT_LIST.BTN_EXPORT_EXCEL' | translate"
          color="primary"
          mat-stroked-button
        >
          @if (exportingList()) {
            <mat-progress-spinner
              class="btn-loader"
              diameter="16"
              mode="indeterminate"
              strokeWidth="2"
            />
          } @else {
            <mat-icon>table_view</mat-icon>
          }
          {{ 'PATIENT_LIST.BTN_EXPORT_EXCEL' | translate }}
        </button>
      </div>

      <div class="toolbar-group toolbar-group-end">
        <button (click)="newPatient.emit()" class="btn-new" color="primary" mat-flat-button>
          <mat-icon>person_add</mat-icon>
          {{ 'PATIENT_LIST.BTN_NEW' | translate }}
        </button>
      </div>
    </div>

    <app-patient-summary-cards
      (monthChanged)="onSummaryMonthChange($event)"
      (printReport)="printList()"
      (viewDetails)="onSummaryViewDetails($event)"
      [loading]="summaryLoading()"
      [printing]="printingList()"
      [selectedMonth]="summaryMonth()"
      [summary]="summary()"
    />

    <div class="table-container">
      @if (loading()) {
        <app-hemodialysis-loader label="COMMON.LOADING_DATA" mode="overlay" sizePreset="small"/>
      }
      <app-configurable-list
        (cellCopied)="onListCellCopied($event)"
        (columnVisibilityChange)="onColumnVisibilityChange($event)"
        (filtersChange)="onListFiltersChange($event)"
        (rowClick)="onListRowClick($event)"
        [columns]="allColumnDefs()"
        [columnVisibility]="visibleColumns()"
        [emptyLabelKey]="'PATIENT_LIST.EMPTY'"
        [filters]="columnFilters()"
        [inlineFilterColumnIds]="patientInlineFilterColumnIds"
        [inlineFilters]="true"
        [rowSelectionEnabled]="true"
        [rowClassFn]="rowClassResolver"
        [rowContextMenuEnabled]="true"
        [rowContextMenuTemplate]="patientRowContextMenu"
        [rows]="rows()"
        [showActiveFiltersBar]="true"
      />

      <ng-template #patientRowContextMenu let-row>
        <button (click)="selectPatient.emit(row)" mat-menu-item type="button">
          <mat-icon>visibility</mat-icon>
          <span>{{ 'PATIENT_LIST.BTN_VIEW' | translate }}</span>
        </button>
        <button (click)="openCahier(row)" mat-menu-item type="button">
          <mat-icon>description</mat-icon>
          <span>{{ 'CAHIER.TITLE' | translate }}</span>
        </button>
        <button (click)="viewStats.emit(row)" mat-menu-item type="button">
          <mat-icon>analytics</mat-icon>
          <span>{{ 'PATIENT_STATS.OPEN' | translate }}</span>
        </button>
        <button (click)="printFiche(row)" [disabled]="printingRowId() === row.id" mat-menu-item type="button">
          <mat-icon>print</mat-icon>
          <span>{{ 'PATIENT_LIST.BTN_PRINT' | translate }}</span>
        </button>
      </ng-template>
    </div>

    <ng-template #nullableTextCell let-value="value">
      <span [class.cell-muted]="!value">{{ textOrDash(value) }}</span>
    </ng-template>

    <ng-template #codeCell let-row>
      <span class="code-chip">{{ row.code }}</span>
    </ng-template>

    <ng-template #nomCell let-row>
      <span>{{ row.nom }}</span>
      @if (row.nonFacturable) {
        <mat-icon
          [matTooltip]="'PATIENT_LIST.NON_FACTURABLE_TOOLTIP' | translate"
          class="warn-inline"
          color="warn"
        >warning
        </mat-icon>
      }
    </ng-template>

    <ng-template #sexeCell let-row>
      <mat-icon [class.female]="row.sexe === 'F'" [class.male]="row.sexe === 'M'" class="sexe-icon">
        {{ row.sexe === 'M' ? 'male' : 'female' }}
      </mat-icon>
    </ng-template>

    <ng-template #assuranceCell let-row>
      <span class="mono">{{ row.numeroAssurance }}</span>
    </ng-template>

    <ng-template #etatCell let-row>
      <div class="etat-cell">
        <span
          [attr.data-etat]="row.etatPatient"
          [class.has-event-tooltip]="hasEventTooltip(row)"
          [matTooltipDisabled]="!hasEventTooltip(row)"
          [matTooltip]="eventDateTooltip(row)"
          class="etat-badge"
          matTooltipClass="patient-theme-tooltip"
        >{{ ('PATIENT_FORM.' + row.etatPatient) | translate }}</span>
      </div>
    </ng-template>

    <ng-template #facturationCell let-row>
      <span [class.billable-badge]="!row.nonFacturable" [class.non-billable-badge]="row.nonFacturable"
            class="etat-badge">
        {{ row.nonFacturable ? ('PATIENT_LIST.NON_BILLABLE_LABEL' | translate) : ('PATIENT_LIST.BILLABLE_LABEL' | translate) }}
      </span>
    </ng-template>

    <ng-template #pecStatusCell let-row>
      <span *ngIf="row.pecStatus" class="etat-badge">{{ row.pecStatus }}</span>
      <span *ngIf="!row.pecStatus" class="cell-muted">-</span>
    </ng-template>

    <ng-template #joursDialyseCell let-row>
      @if (hasDialyseDay(row)) {
        <div class="dialyse-days">
          <span *ngIf="row.joursDialyse.dimanche"
                class="dialyse-badge day-dim">{{ 'PATIENT_FORM.DIMANCHE' | translate }}</span>
          <span *ngIf="row.joursDialyse.lundi"
                class="dialyse-badge day-lun">{{ 'PATIENT_FORM.LUNDI' | translate }}</span>
          <span *ngIf="row.joursDialyse.mardi"
                class="dialyse-badge day-mar">{{ 'PATIENT_FORM.MARDI' | translate }}</span>
          <span *ngIf="row.joursDialyse.mercredi"
                class="dialyse-badge day-mer">{{ 'PATIENT_FORM.MERCREDI' | translate }}</span>
          <span *ngIf="row.joursDialyse.jeudi"
                class="dialyse-badge day-jeu">{{ 'PATIENT_FORM.JEUDI' | translate }}</span>
          <span *ngIf="row.joursDialyse.vendredi"
                class="dialyse-badge day-ven">{{ 'PATIENT_FORM.VENDREDI' | translate }}</span>
          <span *ngIf="row.joursDialyse.samedi"
                class="dialyse-badge day-sam">{{ 'PATIENT_FORM.SAMEDI' | translate }}</span>
        </div>
      } @else {
        <span class="cell-muted">-</span>
      }
    </ng-template>

    <ng-template #actionsCell let-row>
      <div class="row-actions">
        <button
          (click)="$event.stopPropagation(); selectPatient.emit(row)"
          [matTooltip]="'PATIENT_LIST.BTN_VIEW' | translate"
          mat-icon-button
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          (click)="$event.stopPropagation(); openCahier(row)"
          [attr.data-testid]="'open-cahier-' + row.id"
          [matTooltip]="'CAHIER.TITLE' | translate"
          color="primary"
          mat-icon-button
        >
          <mat-icon>description</mat-icon>
        </button>
        <button
          (click)="$event.stopPropagation(); viewStats.emit(row)"
          [attr.data-testid]="'open-stats-' + row.id"
          [matTooltip]="'PATIENT_STATS.OPEN' | translate"
          color="primary"
          mat-icon-button
        >
          <mat-icon>analytics</mat-icon>
        </button>
        <button
          (click)="$event.stopPropagation(); printFiche(row)"
          [disabled]="printingRowId() === row.id"
          [matTooltip]="'PATIENT_LIST.BTN_PRINT' | translate"
          color="primary"
          mat-icon-button
        >
          @if (printingRowId() === row.id) {
            <mat-progress-spinner class="btn-loader" diameter="16" mode="indeterminate" strokeWidth="2"/>
          } @else {
            <mat-icon>print</mat-icon>
          }
        </button>
        <app-patient-qr-card
          [codePatient]="row.code"
          [dateAdmission]="row.dateAdmission"
          [nom]="row.nom"
          [numeroAssurance]="row.numeroAssurance"
          [patientId]="row.id"
          [prenom]="row.prenom"
        />
      </div>
    </ng-template>
    <mat-paginator
      (page)="onPageChange($event)"
      [length]="total()"
      [pageIndex]="pageIndex()"
      [pageSizeOptions]="[5, 10, 20, 50]"
      [pageSize]="pageSize()"
    ></mat-paginator>
  </mat-card-content>
</mat-card>

